<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profil</title>
    <link href="assets/img/favicon.png" rel="icon">
    <link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon">
  
    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">
  
    <!-- Vendor CSS Files -->
    <link href="assets/vendor/animate.css/animate.min.css" rel="stylesheet">
    <link href="assets/vendor/aos/aos.css" rel="stylesheet">
    <link href="assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
    <link href="assets/vendor/remixicon/remixicon.css" rel="stylesheet">
    <link href="assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">
  
    <link rel="stylesheet" href="fonts/icomoon/style.css">
  
    <link rel="stylesheet" href="assets/css/owl.carousel.min.css">
  
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="assets/css/bootstrap.min.css">
  
  
  
    <!-- Template Main CSS File -->
    <link href="assets/css/style.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="assets/css/util.css">
<style>.containerlist {
    margin-top: 100px;
  }
  .containerCours{
    margin-top: 150px;
  }</style>
</head>
<body>
      <!-- ======= Header ======= -->
  <header id="header" class="fixed-top">
    <div class="container d-flex align-items-center">

      <h1 class="logo me-auto"><a href="index.html">Edu-ForAll</a></h1>
      <!-- Uncomment below if you prefer to use an image logo -->
      <!-- <a href="index.html" class="logo me-auto"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->

      <nav id="navbar" class="navbar order-last order-lg-0">
            <ul>
              <li><a class="active" href="{{path('home')}}">Home</a></li>
              <li><a href="{{path('liste_prof')}}">Profil</a></li>
              <li class="dropdown"><a  href="{{path('article1')}}"><span>Article</a></li>
              <li class="dropdown"><a href="#">Primaire</a></li>
              <li class="dropdown"><a href="#">Collège</a></li>
              <li class="dropdown"><a  href="#"><span>Lycée</a></li>
            </ul>
            <i class="bi bi-list mobile-nav-toggle"></i>
          </nav><!-- .navbar -->
    
          <a href="{{path('app_login')}}" class="connecter-btn">Se connecter</a>
          <a href="{{path('inscription')}}" class="inscrire-btn">S'inscrire</a>

    </div>
  </header><!-- End Header -->

    <!-- ----------------------------------------------------------- -->
    <link href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css" rel="stylesheet">
<div class="containerCours">
      <div class="row">
        <!-- Main content -->
        <div class="col-lg-9 mb-3">
        {% for cour in cours%}
          <!-- End of post 1 -->
          <div class="card row-hover pos-relative py-3 px-3 mb-3 border-warning border-top-0 border-right-0 border-bottom-0 rounded-0">
            <div class="row align-items-center">
              <div class="col-md-8 mb-3 mb-sm-0">
                <h5>
                  <a class="text-primary">{{cour.nom}}</a>
                </h5>
                <p class="text-sm"><span class="op-6">{{cour.nom}}</span> <a class="text-black" href="upload/{{cour.lien}}">Cours</a></p>
                {% for test in testes %}
                {% if test.idcour == cour.id %}
                <p class="text-sm"><span class="op-6">{{cour.nom}}</span> <a class="text-black" href="upload/{{test.lien}}">Exercice</a></p>
                {% endif %}
                {% endfor %}
                {% for video in videos %}
                {% if video.idcour == cour.id %}
                <p class="text-sm"><span class="op-6">{{cour.nom}}</span> <a class="text-black" href="upload/{{video.lien}}">video</a></p>
                {% endif %}
                {% endfor %}
              </div>
          </div>
          <hr>
          {% endfor %}
         
          
         
          
       
          
        </div>
      </div>
    </div>
    <!-- ======= Footer ======= -->
    <footer id="footer">

      <div class="footer-top">
        <div class="container">
          <div class="row">
  
            <div class="col-lg-3 col-md-6 footer-contact">
              <h3>Edu-ForAll</h3>
              <p>
                <br>Maroc <br>
                <strong>Phone: </strong> +212 66660000 <br>
                <strong>Email: </strong> edu.forall@gmail.com<br>
              </p>
            </div>
          </div>
        </div>
      </div>
  
      <div class="container d-md-flex py-4">
  
        <div class="me-md-auto text-center text-md-start">
          <div class="credits">
            <!-- All the links in the footer should remain intact. -->
            <!-- You can delete the links only if you purchased the pro version. -->
            <!-- Licensing information: https://bootstrapmade.com/license/ -->
            <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/mentor-free-education-bootstrap-theme/ -->
            Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
          </div>
        </div>
        <div class="social-links text-center text-md-right pt-3 pt-md-0">
          <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>
          <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
          <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
          <a href="#" class="google-plus"><i class="bx bxl-skype"></i></a>
          <a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a>
        </div>
      </div>
    </footer><!-- End Footer -->
</body>
</html>