{% extends "base.html.twig" %}
{% block title %}
<a href={{path("liste_user")}} 
class="btn btn-danger  d-none d-md-block pull-right ms-3 hidden-xs hidden-sm waves-effect waves-light text-white">
Gestion des Utulisateurs</a>
<style>.inputSelect110 {
    width: 735px;
    height: 40px;
    border-radius: 2px;
    border: 2px solid #e6e6e6;
    border-radius: 5px;
      /* content: "\f00c"; */
      font-family: FontAwesome;
      font-size: 15px;
      color: #333333;
  }
  </style>
{% endblock %}
            {% block body %}
           {# {{ form_start(form) }}
            <div class="wrap-input100 validate-input m-b-26" data-validate="Nom is required">
            <span class="label-input100">Nom</span>
            {{ form_widget(form.nom, { 'attr': {'class': 'input100'} }) }}
        </div>
            {{ form_end(form) }}#}
            <div class="container-fluid">
                <!-- ============================================================== -->
                <!-- Start Page Content -->
                <!-- ============================================================== -->
                <div class="row">
                    <div class="col-sm-12">
                        <div class="white-box">
                            <h3 class="box-title">Ajouter un Utulisateur</h3>
                            <p class="text-muted"></p>
                            <div class="table-responsive">
                            
                            {{ form_start(form , { 'attr': {'class': 'login100-form validate-form'} }) }}
					<div class="wrap-input100 validate-input m-b-26" data-validate="Nom is required">
						<span class="label-input100">Nom</span>
						{{ form_widget(form.nom, { 'attr': {'class': 'input100'} }) }}
					</div>

                    <div class="wrap-input100 validate-input m-b-26" data-validate="Prenom is required">
						<span class="label-input100">Penom</span>
                        {{ form_widget(form.prenom, { 'attr': {'class': 'input100'} }) }}
					</div>

                    <div class="wrap-input100 validate-input m-b-26" data-validate="Email is required">
						<span class="label-input100">email</span>
						{{ form_widget(form.email, { 'attr': {'class': 'input100'} }) }}
					</div>
                    <div class="wrap-input100 validate-input m-b-26" data-validate="Nom is required">
                    <span class="label-input100">Nom école</span>
                    {{ form_widget(form.nom_ecole, { 'attr': {'class': 'input100'} }) }}
                </div>

			

                    <div class="wrap-input100 validate-input m-b-26" data-validate="Niveau Scolaire is required">
						<span class="label-input100">Role</span>
                        {{ form_widget(form.roles, { 'attr': {'class': 'inputSelect110'} }) }}
					</div>
                    <div class="wrap-input100 validate-input m-b-26" data-validate="Nom is required">
                    <label class="label-input100" for="avatar">niveau</label>
                    {{ form_widget(form.niveau, { 'attr': {'class': 'inputSelect110'} }) }}
                </div>
                <div class="wrap-input100 validate-input m-b-26" data-validate="Nom is required">
                <label class="label-input100" for="avatar">genre</label>
                {{ form_widget(form.genre, { 'attr': {'class': 'inputSelect110'} }) }}
            </div>
            <div class="wrap-input100 validate-input m-b-26" data-validate="Nom is required">
            <label class="label-input100" for="avatar">Photo</label>
            {{ form_widget(form.image, { 'attr': {'class': 'input100'} }) }}
        </div>
				

				
                    <div class="wrap-input100 validate-input m-b-26" data-validate="Nom is required">
                    <label class="label-input100" for="avatar">Mot de passe</label>
                    {{ form_widget(form.password, { 'attr': {'class': 'input100'} }) }}
                </div>

					<div class="flex-sb-m w-full p-b-30">
						<div class="contact100-form-checkbox">
							<input class="input-checkbox100" id="ckb1" type="checkbox" name="remember-me">
						</div>
					</div>

                    

					<div class="container-login100-form-btn">
                    {{ form_widget(form.save, { 'attr': {'class': 'login100-form-btn'} }) }}
						
					</div>
				</form>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- ============================================================== -->
                <!-- End PAge Content -->
                <!-- ============================================================== -->
                <!-- ============================================================== -->
                <!-- Right sidebar -->
                <!-- ============================================================== -->
                <!-- .right-sidebar -->
                <!-- ============================================================== -->
                <!-- End Right sidebar -->
                <!-- ============================================================== -->
            </div>
            <!-- ============================================================== -->
            <!-- End Container fluid  -->
            <!-- ============================================================== -->
            <!-- ============================================================== -->
            <!-- footer -->
            <!-- ============================================================== -->
            {% endblock %}